{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Iniciar Sesión</button>
         <br>
            <a href="{% url 'registro' %}">
        <button type="button" class="registro-btn">Ir a Registro</button>
    </a>
    </form>

   
    <!-- Botón de enlace a la página de registro -->

</body>
</html>
