<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de Alumnos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h2>Lista de Alumnos</h2>
    <ul>
        {% for alumno in alumnos %}
            <li>{{ alumno.nombre }} {{ alumno.apellido }}</li>
        {% endfor %}
    </ul>

    <script src="{% static 'js/script.js' %}" async defer></script>
</body>
</html>
